
*.xml
*.pyc
*.csv
storytelling/config.yml
*.xlsx
storytelling/.ipynb_checkpoints/st_switzerland-checkpoint.ipynb
storytelling/.ipynb_checkpoints/EDA_Storytelling_Switzerland-checkpoint.ipynb
storytelling/.ipynb_checkpoints/DataStory_Simon-checkpoint.ipynb
storytelling/.ipynb_checkpoints/DataStory-checkpoint.ipynb
